<!doctype html>
<html lang="en" ng-app="koan">
<head>
  <meta charset="utf-8">
  <script>
    // if user logs in with oauth, user token will be in query string so look for it. otherwise, check browser storage for token
    var tokenParamMatch = RegExp('[?&]user=([^&]*)').exec(window.location.search),
        tokenParam = tokenParamMatch && decodeURIComponent(tokenParamMatch[1].replace(/\+/g, ' '));
    if (tokenParam) {
      var data = JSON.parse(tokenParam);
      window.localStorage.token = data.token;
      window.localStorage.user = JSON.stringify(data.user);
    } else {
      var token = window.sessionStorage.token || window.localStorage.token,
          user = token && JSON.parse(window.sessionStorage.user || window.localStorage.user);
      if (!user || user.exp < Math.round(new Date().getTime() / 1000)) {
        window.location.replace('/signin.html');
      }
    }
  </script>
  <title ng-bind="common.title">Tristanjs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/app.css">
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Tristanjs
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img ng-src="{{common.user.picture}}" alt="">
            <i class="online-indicator" ng-style="common.onlineIndicatorStyle"></i>
            <span ng-bind="common.user.name"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="" ng-click="common.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked sidenav">
        <li ng-class="common.active.home"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li ng-class="common.active.remda"><a href="/remda"><span class="glyphicon glyphicon-user"></span> Remote Data</a></li>
      </ul>
    </div>

    <!-- CONTENT -->
    <div class="col-md-7" ng-view></div>

    <div class="col-md-3"></div>
  </div>
  <hr>
  <footer>
    <p>
      <a href="https://github.com/soygul/koan" target="_new">
        Powered by KOAN &copy;
      </a>
      <button type="button" ng-click="common.clearDatabase()" class="btn btn-xs btn-warning pull-right">
        <strong>Clear Database</strong>
      </button>
    </p>
  </footer>
</div>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/lodash/dist/lodash.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-elastic/elastic.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="/app.js"></script>
<script src="/modules/common/common.js"></script>
<script src="/modules/common/api-service.js"></script>
<script src="/modules/home/home.js"></script>
<script src="/modules/home/home-controller.js"></script>
<script src="/modules/remda/remda.js"></script>
<script src="/modules/remda/remda-controller.js"></script>

</body>
</html>
