<div class="message-box">

  <form ng-submit="createRemData($event)">

    <input type="text" class="form-control" name="url" placeholder="/curriculum/linkedin"
     ng-model="dataBox.url"
     ng-disabled="dataBox.disabled">

     <br>
    <textarea msd-elastic class="form-control" name="content" placeholder="Paste your JSON here..."
     ng-model="dataBox.content"
     ng-disabled="dataBox.disabled"></textarea>

    <br>
    <div class="message-box-tools">
      <input type="submit" class="btn btn-default btn-sm pull-right" value="Post">
    </div>

  </form>

  <br>
  <ul>
    <li ng-repeat="remDas in userRemDas">
      {{remDas.content}}
    </li>
  </ul>

</div>
